@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: "mulish", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style */
.travel {
    color: #FF5400;
}

/* navbar style  */
.nav-section {
    max-width: 1200px;
    background-color: #FFF;
    margin: 0 auto;
    display: flex;
    margin: 45px auto;

}

.nav-container {
    align-items: center;
    display: flex;
    width: 50%;
}

.nav-container p {
    color: #131318;
    margin-left: 10px;
    font-size: 36px;
    font-weight: 800;
}

.nav-container img {
    width: 48px;
    object-fit: cover;
}

.bangla {
    color: green;
}

.items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.items-container a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.items-container .travel {
    color: #FF5400;
}

/* section header container */
.header-container {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-image: url(Images/Group\ 13\ .png);
    max-width: 1195px;
    min-height: 500px;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    background-repeat: no-repeat;
}

.header-container-box {
    /* border: 2px solid red; */
    width: 100%;
    display: grid;
    text-align: center;
}

.header-container-box h1 {
    margin-top: 110px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.header-container-box p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    max-width: 700px;
    margin-left: 250px;
}

.header-container-btn {
    padding: 16px;
    border-radius: 8px;
    margin: 0 185px 106px;
    background: rgba(255, 255, 255, 0.30);
    

}

.text {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.50);
    transform: scale(0.9);
    

}

.btn-find img {
    width: 24px;
    color: #FFF;
    margin-right: 10px;
}

.btn-find {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    color: #FFF;
    background: #FF5400;
    border-color: #FF5400;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

/* history popular tour */
.history-container {
    max-width: 1200px;
    min-height: 500px;
    background-color: #FFF;
    margin: 100px auto;
    justify-content: center;
}
.history{
    display: flex;
    justify-content: space-between;
}
.history-tour{
    width: 45%;
}
.history-tour-title{
    color: #131318;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 30px;
}
.history-tour p, li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.history-tour li{
    margin: 20px 30px;
}
.history-tour button{
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    background-color: #FF5400;
    padding: 20px;
    width: 174px;
    cursor: pointer;
}

.history-image{
    width: 45%;
}
.history-image img{
    width: 100%;
}















@media screen and (max-width: 600px) {
    .nav-section {
        flex-direction: column;
        margin: 20px 20px;
        height: fit-content;
    }

    .nav-container {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        width: 250px;
        height: 45px;
    }

    .nav-container p {
        font-size: 20px;       
    }

    .items-container a {
        display: none;

    }

    .nav-container img {
        width: 25px; 
    }
    .header-container{
        margin: 10px;
    }
    .header-container-box h1{
        margin-top: 0;
        font-size: 40px;
    }
    .header-container-box p{
        margin: 0 50px;
    }
    .header-container-btn{
        margin: 10px 80px;
    }
    .history{
        flex-direction: column;
    }
    .history-container{
        margin: 10px;
    }
    .history-tour{
        width: 100%;
        margin: 20px;
    }
    .history-image{
        width: 100%;
        margin: 10px;
}