@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: "mulish", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common style */
.travel {
    color: #FF5400;
}

/* navbar style  */
.nav-section {
    max-width: 1200px;
    background-color: #FFF;
    margin: 0 auto;
    display: flex;
    margin: 45px auto;

}

.nav-container {
    align-items: center;
    display: flex;
    width: 50%;
}

.nav-container p {
    color: #131318;
    margin-left: 10px;
    font-size: 36px;
    font-weight: 800;
}

.nav-container img {
    width: 48px;
    object-fit: cover;
}

.bangla {
    color: green;
}

.items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.items-container a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.items-container .travel {
    color: #FF5400;
}

/* section header container */
.header-container {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-image: url(Images/Group\ 13\ .png);
    max-width: 1195px;
    min-height: 500px;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    background-repeat: no-repeat;
}

.header-container-box {
    /* border: 2px solid red; */
    width: 100%;
    display: grid;
    text-align: center;
}

.header-container-box h1 {
    margin-top: 110px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.header-container-box p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    max-width: 700px;
    margin-left: 250px;
}

.header-container-btn {
    padding: 16px;
    border-radius: 8px;
    margin: 0 185px 106px;
    background: rgba(255, 255, 255, 0.30);


}

.text {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.50);
    transform: scale(0.9);


}

.btn-find img {
    width: 24px;
    color: #FFF;
    margin-right: 10px;
}

.btn-find {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    color: #FFF;
    background: #FF5400;
    border-color: #FF5400;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
/* new style for new section */
.tour-container {
    border: 2px solid red;
    margin: 50px auto;
    max-width: 1200px;
    object-fit: cover;
}



.tour-flex-1, .tour-flex-2 {
    display: flex;
    text-align: center;
    justify-content: center;
    
}


.tour-item img {
    width: 100%;
    object-fit: cover;
}

.tour-details h1 {
    color: #333333;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    background: transparent;
    margin: 25px;

}

.tour-details h2 {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    margin: 15px;

}

.tour-item button{
    color: #FFF;
    border-radius: 8px;
    background: #006A4E;
    font-size: 20px;
    font-weight: 800;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
    padding: 12px 19px;
    width: 200px;
    height: 52px;
}



/* history popular tour */
.history-container {
    max-width: 1200px;
    min-height: 500px;
    background-color: #FFF;
    margin: 100px auto;
    justify-content: center;
}

.history {
    display: flex;
    justify-content: space-between;
}

.history-tour {
    width: 45%;
}

.history-tour-title {
    color: #131318;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 30px;
}

.history-tour p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.history-tour li {
    margin: 20px 30px;
}

.history-tour button {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    background-color: #FF5400;
    padding: 20px;
    width: 174px;
    cursor: pointer;
}

.history-image {
    width: 45%;
}

.history-image img {
    width: 100%;
}

.destinations-container {
    max-width: 1200px;
    margin: 20px auto;
}

.destinations h1,
P {
    color: #131318;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.destinations p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    max-width: 650px;
    margin: 10px auto;
}

.destinations-image {
    width: 100%;
    margin: 40px auto;
}

.box {
    gap: 20px;
}

.wrapper {
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 18.5rem);
    gap: 24px;
    justify-self: center;
}

/* gallery layout */
.gallery-item-1 {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
}

.gallery-item-2 {
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
}

.gallery-item-3 {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
}

.gallery-item-4 {
    grid-column: 5 / span 5;
    grid-row: 2 / span 1;
}

.gallery-item-5 {
    grid-column: 10 / span 3;
    grid-row: 2 / span 1;
}

.gallery-item-6 {
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
}

.gallery-item-7 {
    grid-column: 6 / span 7;
    grid-row: 3 / span 1;
}

/* for display picture font */
.gallery-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
}


.gallery-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.service-container {
    max-width: 1200px;
    margin: 50px auto;
}

.service-link h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 0 20px 20px 20px;
}

.service-link p {
    color: #5A5A5A;
    font-size: 16px;
    font-weight: 400;
    margin: 0 20px 20px 20px;
    text-align: left;
}

.service-us {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 18.5rem);
    gap: 24px;
    justify-self: center;
    margin: 60px auto;
}

.service-hotel-1 {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    text-align: left;
    justify-content: left;
}

.service-hotel-2 {
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.service-hotel-3 {
    grid-column: 4 / span 6;
    grid-row: 2 / span 1;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.service-us img {
    width: 64px;
    margin: 20px;
}















@media screen and (max-width: 600px) {
    .nav-section {
        flex-direction: column;
        margin: 30px 30px;
        height: fit-content;
    }

    .nav-container {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        width: 250px;
        height: 45px;
    }

    .nav-container p {
        font-size: 20px;
    }

    .items-container a {
        display: none;

    }

    .nav-container img {
        width: 25px;
    }

    .header-container {
        margin: 10px;
    }

    .header-container-box h1 {
        margin-top: 0;
        font-size: 40px;
    }

    .header-container-box p {
        margin: 0 50px;
    }

    .header-container-btn {
        margin: 10px 80px;
    }

    .history {
        flex-direction: column;
    }

    .history-container {
        margin: 30px;
    }

    .history-tour {
        width: 100%;
        margin-bottom: 20px;
    }

    .history-image {
        width: 100%;
    }

    .wrapper {
        padding: 15px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .destinations h1 {
        font-size: 26px;
    }

    /* gallery layout */
    .gallery-item-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .gallery-item-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .gallery-item-3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .gallery-item-4 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }

    .gallery-item-5 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }

    .gallery-item-6 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }

    .gallery-item-7 {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
    }

    .service-why {
        padding: 15px;
    }

    .service-us {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .service-hotel-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .service-hotel-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .service-hotel-3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

}