@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: "mulish", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style */
.travel {
    color: #FF5400;
}

/* navbar style  */
.nav-section {
    max-width: 1200px;
    background-color: #FFF;
    margin: 0 auto;
    display: flex;
    margin: 45px auto;

}

.nav-container {
    align-items: center;
    display: flex;
    width: 50%;
}

.nav-container p {
    color: #131318;
    margin-left: 10px;
    font-size: 36px;
    font-weight: 800;
}

.nav-container img {
    width: 48px;
    object-fit: cover;
}

.bangla {
    color: green;
}

.items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.items-container a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.items-container .travel {
    color: #FF5400;
}

/* section header container */
.header-container {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-image: url(Images/Group\ 13\ .png);
    max-width: 1195px;
    min-height: 500px;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    background-repeat: no-repeat;
}

.header-container-box {
    /* border: 2px solid red; */
    width: 100%;
    display: grid;
    text-align: center;
}

.header-container-box h1 {
    margin-top: 110px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.header-container-box p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.header-container-btn {
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
}

.text {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.50);
}

.btn-find img {
    width: 24px;
    color: #FFF;
    margin-right: 10px;
}

.btn-find {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    color: #FFF;
    background: #FF5400;
    border-color: #FF5400;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
}












@media screen and (max-width: 600px) {
    .nav-section{
        flex-direction: column;
        margin: 20px 20px;
    }
    .nav-container{
        flex-direction: column;
        width: 100%;
        width: 250px;
        height: 45px;
                   
    }
    .nav-container p{
        border: 2px solid rebeccapurple;
        font-size: 20px;
       
    }
    .items-container a{
        display: none;

    }
    .nav-container img {
        border: 2px solid rebeccapurple;
        width: 25px;
    }
    
}